#container {
	background-color: var(--background-color);
	width: 100vw;
	height: 100vh;
	font-family: "Quicksand";
	font-size: 22px;
	color: var(--main-text-color);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: min-content 1fr min-content;
}

header {
	grid-column: 2 / span 10;
	border-bottom: 2px dashed var(--accent-color);
}

footer {
	grid-column: 1 / span 12;
	text-align: center;
	background-color: var(--footer-color);
	color: var(--accent-color);
	padding-top: var(--general-spacing);
}

h1 {
	font-family: "TextMeOne";
	font-size: 2.5em;
}


h2 {
	font-family: "TextMeOne";
	margin-top: var(--general-spacing);
}

a:hover {
	text-decoration: underline;
}

.content {
	grid-column: 2 / span 10;

}